[run]
# Recursively find every single Python file in any folder, 
# even if it doesn't have an __init__.py file!
include = **/*.py

[report]
# Force the final math to include untouched files as 0%
skip_empty = False