###################################################################
# NOTE: The workflow get-versions.yml can be used to report 
# the exact versions of these dependencies getting installed 
# during pipeline execution.
###################################################################

# --- Core Application Dependencies ---
Pillow==12.3.0     # Used by the image processing application
psutil==7.2.2      # Used by the system monitoring application

# --- Testing & Linting ---
pytest==9.1.1      # Used by coverage action
pylint==4.0.6      # Used by linting action
pytest-cov==7.1.0  # Used by coverage action
checkov            # Used by security scanning and yaml linting action

